{% extends 'base.html.twig' %}
{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="container">
<div class="row">
<div class="col-md-6">
        <a class="btn btn-success" href="{{path('student_add')}}">Add new student</a>

</div>
</div>
<br>
<br>
<div class="row">
<h1>List of students</h1>
    <table class="table table-striped" >
<tr>
  <th>NSC</th>
  <th>name</th>
  <th>email</th>
  <th>birth Date</th>
  <th>classroom</th>
  <th colspan="6">Actions</th>
  

</tr>
{% for s in students %}
<tr>
    <td>{{ s.nsc }}</td>
    <td>{{ s.name|upper }}</td>
    <td>{{ s.email }}</td>
    <td>{{ s.birthDate|date }}</td>
    <td>{{ s.idClassroom.name }}</td>
    <td><a href="{{ path('student_get_by_nsc', {'nsc': s.nsc}) }}"> <input type="button"class="btn btn-info" value="detail" /></a><td>
     <td><a href="{{ path('student_remove', {'nsc': s.nsc}) }}"> <input type="button"class="btn btn-danger" value="remove" /></a><td>
    <td><a href="{{ path('student_edit', {'nsc': s.nsc}) }}"> <input type="button" class="btn btn-warning"value="update" /></a><td>

</tr>
{% endfor %}
</table>
{% endblock %}