<h1>Liste des Etudiants</h1>
<table border="1">
<tr>
  <th>NSC</th>
  <th>name</th>
  <th>email</th>
  <th>birth Date</th>
  <th colspan="6">Actions</th>
  

</tr>
{% for s in students %}
<tr>
    <td>{{ s.nsc }}</td>
    <td>{{ s.name|upper }}</td>
    <td>{{ s.email }}</td>
    <td>{{ s.birthDate|date }}</td>
    <td><a href="{{ path('student_get_by_nsc', {'nsc': s.nsc}) }}"> <input type="button" value="detail" /></a><td>
     <td><a href="{{ path('student_remove', {'nsc': s.nsc}) }}"> <input type="button" value="supprimer" /></a><td>
    <td><a href="{{ path('student_edit', {'nsc': s.nsc}) }}"> <input type="button" value="modifier" /></a><td>

</tr>
{% endfor %}
</table>