{% extends 'base.html.twig' %}
{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="container">
<div class="row">
<div class="col-md-6">
        <a class="btn btn-success" href="{{path('classroom_add')}}">Add new classroom</a>

</div>
</div>
<br>
<br>
<div class="row">
<h1>List of classrooms</h1>
    <table class="table table-striped" >
<tr>
  <th>Id</th>
  <th>name</th>
  <th>students</th>
  <th colspan="6">Actions</th>
  

</tr>
{% for c in classrooms %}
<tr>
    <td>{{ c.id }}</td>
    <td>{{ c.name|upper }}</td>
    <td>
    <ul>
    {% for s in c.students %}
    <li>{{ s.name }}</li>
    {% endfor %}
    </ul></td>
    <td><a href="{{ path('classroom_get_by_id', {'id': c.id}) }}"> <input type="button" class="btn btn-info"value="detail" /></a><td>
    <td><a href="{{ path('classroom_remove', {'id': c.id}) }}"> <input type="button"class="btn btn-danger" value="remove" /></a><td>
    <td><a href="{{ path('classroom_edit', {'id': c.id}) }}"> <input type="button"class="btn btn-warning" value="update" /></a><td>

</tr>
{% endfor %}
</table>
{% endblock %}